@import '../../styles/variables.scss';

.card {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  position: relative;
  max-width: 310px;
}

.card:hover .dropdownMenu {
  display: block;
}

.imageWrapper {
  margin-bottom: 15px;
}

.image {
  max-width: 100%;
  height: auto;
  min-width: 50%;
}

.movieInfo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-size: 18px;
  color: #b5b5b5
}

.genre {
  color: #9c9999;
  margin-top: 7px;
}

.year {
  padding: 5px 14px;
  border: 1px solid #555555;
  border-radius: 4px;
  margin-left: 1rem;
  color: #9c9999;
}

.dropdownMenu {
  display: none;
  position: absolute;
  right: 15px;
  top: 15px;
}

.dropdownContent {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: $color-dark-grey;
  min-width: 160px;
  z-index: 1;
  right: 15px;
  top: 15px;
}
.dropdownMenu:hover {
  cursor: pointer;
}

.dropdownButton {
  background-color: transparent;
  font-size: 16px;
  border: none;
  color: #ffffff;
  padding: 7px 0 7px 30px;
  text-align: start;
  margin-bottom: 7px;
}

.dropdownButtonClose {
  width: 20%;
  align-self: flex-end;
  background-color: transparent;
  color: $color-white;
  border: none;
  padding-top: 10px;
  cursor: pointer;
  margin-bottom: 7px;
}

.dropdownButton:hover {
  background-color: $color-red;
  cursor: pointer;
  color: $color-white;
}

.dots {
  background-color: $color-dark-grey;
  padding: 10px;
  border-radius: 50%;
}

.dots:after {
  content: '\2807';
  font-size: 20px;
  padding-left: 5px;
}

